<li>
    <p>
       <%=comment.content%>
         =>
        <%=comment.user.name%>
       <%if(locals.user && locals.user.id==comment.user.id ){%>
           <small>
               <a href="/comments/destroy/<%=comment._id%>">Delete</a>
           </small>
      <% }%>
   </p> 

   </li>
 