<li id="comment-<%= comment._id %>">
    <p>
        <%=comment.content%>
        =>
       <%=comment.user.name%>
      <%if(locals.user && locals.user.id==comment.user.id ){%>
          <small>
              <a  class="delete-comment-button" href="/comments/destroy/<%=comment._id%>">Delete</a>
          </small>
     <% }%>

    </p>
   
      
   

   </li>
 