<link rel="stylesheet" href="/css/header.css">
 <div class="headerContainer">
    
    <ul class="list">
      
        <% if(locals.user){ %>
                    <li class="item SignOut">
                        <a href="/users/sign-out">Sign Out </a>
                    </li>
    
         <%} else{ %>
            <li class="item signIn  ">
                <a href="/users/sign-up"> Sign Up </a>
             </li>
    
            <li class="item signUp">
                <a href="/users/sign-in">Sign In </a>
            </li>
             
    
         <%} %>
    
      
    </ul>

 </div>
