
<html>
<head>
 <link rel="stylesheet" href="/css/sign_in.css">
</head>
<body>
    <div class="mh">
        <h1 class="main_heading"> Social </h1> 
     </div>
    
    
    <div class="container">
        <div class="first_heading">
           
            <h3> Login to Social  </h3>
           </div>
        <form class="up_form" action="/users/createSession" method="post">
            <input type="email" name="email" id="'email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type = "submit" class="btn" value="Sign In">
            
         </form>
         <div class="google">
            <a href="/users/auth/google"> <i class="fa-brands fa-google"></i> Continue with Google  </a>
          
       </div>  
       <h3><a href="/users/sign-up"> Sign Up  </a></h3>
     
       
        
    </div>
</body>

</html>

 