.onlyComments {
  border: 1px solid black;
  border-radius: 15px;
  background-color: aliceblue; }

.delete-comment-button {
  padding: 10px; }

.delete-comment-button:hover {
  color: red; }

.toggle-like-button-comment {
  padding: 10px;
  text-decoration: none; }

.toggle-like-button-comment:hover {
  color: #6363eb; }
