.headerContainer {
  height: 50px;
  width: 100%;
  background-color: #6363eb;
  color: white; }

.list {
  display: flex;
  position: relative;
  justify-content: space-between; }

.item {
  padding: 5px;
  list-style: none;
  font-size: 18px; }

.signIn, .signOut {
  position: absolute;
  left: 90%; }

.signUp {
  position: absolute;
  left: 85%; }

.item a {
  color: white;
  text-decoration: none; }

.profileLink {
  position: absolute;
  left: 85%; }

.home {
  position: absolute;
  left: 10%; }
