.onlyPosts {
  border: 1px solid blue; }

.delete-post-button {
  padding: 10px; }

.delete-post-button:hover {
  color: red; }

.toggle-like-button {
  padding: 10px;
  text-decoration: none; }

.toggle-like-button:hover {
  color: #6363eb; }

/* Comment Section */
/* styling add comment section */
.addComment {
  width: 70%;
  display: flex; }

.content {
  width: 80%; }

.submit {
  width: 30%;
  background-color: #6363eb; }

.showComments ul {
  list-style: none; }
