* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mh {
  text-align: center;
  margin-top: 10px;
  height: 100px; }

.mh h1 {
  color: #510cd2;
  font-size: 52px; }

.container {
  width: 35%;
  height: 80%;
  border: 1px solid black;
  margin: 20px auto;
  background-color: #fff; }

.first_heading {
  height: 40px; }

.first_heading h4, h3 {
  text-align: center;
  margin: 10px; }

.first_heading h4 {
  margin-bottom: 10px; }

.container h3 {
  text-align: center; }

.up_form input {
  margin: 10px 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  width: 97%;
  text-align: center;
  margin-top: 15px; }

.up_form .btn {
  display: block;
  margin: 9px auto;
  background-color: #6363eb;
  color: #fff;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%; }

.google {
  margin: 9px auto;
  height: 28px;
  width: 40%;
  border: 1px solid black; }

.google a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%; }

h3 a {
  text-decoration: none; }
